.page-header {
    padding-left: 1%;
}
.main {
    position: fixed;
    width: 100%;
    width: 600px;
    height: 650px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: #f5f5f5;
}
.tabs {
    padding-left: 0%;
}
.nav-tabs > li > a {
    /* adjust padding for height*/
    padding-top: 15px;
    padding-bottom: 15px;
}
.loginView {
    padding-left: 0%;
    padding-top: 2%;
    height: 580px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.div-password {
    margin-left: -0.5%;
}
.in-username {
    width: 103%;
}
.form-signinPW {
    margin-top: 10px;
}
.btn-signin {
    margin-top: 10px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}
.btn-register {
    margin-top: 20px;
    width: 100%;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}
.view {
    margin-left: 10px;
    width: 560px;
}
.regView {
    margin-left: 10px;
    width: 580px;
}
.in-login {
    height: 50px;
    padding-left: 30px;
}
.in-register {
    height: 50px;
    width: 99.5%;
    padding-left: 30px;
}
.col-md-6 {
    padding-left: 0px;
}
.setPattern {
    padding-left: 30px;
}
.regPattern {
    margin-left: -50px;
    margin-top: -70px;
}
.pattern {
    margin-top: -60px;
    margin-left: 120px;
}
.glyphicon-user,
.glyphicon-lock,
.glyphicon-envelope {
    padding-top: 8px;
    left: 0;
}
.panel-heading:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    margin-left: 94%;
    position: relative;
    bottom: 15px;
    color: grey;
}
.panel-heading.collapsed:after {
    content: "\e080";
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel {
    width: 100%;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-title {
    padding-top: 2%;
    margin-left: 2%;
    color: black;
}
.panel-heading:hover,
.panel-heading:focus {
    text-decoration: none;
    color: black;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: white;
    cursor: default;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-bottom-color: transparent;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.onetab {
    width: 150px;
    text-align: center;
    cursor: pointer;
}
.panel-body {
    background: #f5f5f5;
}
.panel {
    border: 0;
}
.panel-heading:hover {
    cursor: pointer;
}
.registerView {
    padding-top: 2%;
}
.btn-logout {
    margin-top: 50px;
    width: 100px;
}
.userDataClass {
    margin-top: 50px;
}
.usersClass {
    margin-left: 2%;
}
.facebook {
    font-size: 42px;
    font-family: Tahoma;
}
.facebook > .fa-facebook-square {
    font-size: 72px;
}
.ConfirmPW {
    padding-top: 0px;
}
.regPlaceholder {
    position: absolute;
    margin-left: 32px;
    margin-top: -35px;
    color: #999;
    font-weight: 100;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -o-transition: .2s all ease;
    -ms-transition: .2s all ease;
    transition: .2s all ease;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.patt-holder {
    background: transparent;
    -ms-touch-action: none;
    align-self: baseline;
}
.patt-wrap {
    margin-top: 50px;
    position: relative;
}
.patt-wrap ul,
.patt-wrap li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.patt-circ {
    position: relative;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.patt-circ.hovered {
    border: 3px solid #0192ff;
}
.patt-error .patt-circ.hovered {
    border: 3px solid #BA1B26;
}
.patt-correct .patt-circ.hovered {
    border: 3px solid #33d900;
}
.patt-hidden .patt-circ.hovered {
    border: 0;
}
.patt-dots {
    background: #000;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    z-index: 3;
}
.patt-lines {
    border-radius: 5px;
    height: 10px;
    background: rgba(100, 100, 100, .7);
    position: absolute;
    transform-origin: 5px 3px;
    -ms-transform-origin: 5px 3px;
    /* IE 9 */
    -webkit-transform-origin: 5px 5px;
}
.patt-hidden .patt-lines {
    display: none;
}
.patt-disabled .patt-dots {
    background: #999;
}
@media (max-device-width: 800px) and (max-width: 800px) {
    /*    .views {
        margin-top: 52px;
    }*/
    .main {
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        margin-top: 0%;
        margin-left: 0%;
        border-radius: 0px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .tabs {
        width: 100%;
        /*        position: fixed;*/
        z-index: 10;
        background: #f5f5f5;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .loginView {
        height: auto;
    }
    .view {
        margin-left: 2%;
        width: 93%;

    }
    .btn-register {
        width: 94%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .regView {
        margin-left: 2%;
        width: 100%;
        overflow-x: hidden;
    }
    .in-register {
        width: 95%;
    }
    .col-md-6 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .pattern-mobile {
        margin-left: 0%;
    }
    .pattern {
        margin-top: -90px;
        left: 120px;
        margin-left: -153px;
    }
    .onetab {
        width: auto;
    }
    .panel-title {
    margin-left: 3%;
}
    .tab-mobile {
        width: 50%;
    }
    .patt-dots {
        margin-top: -5px;
        margin-left: -5px;
    }
    .patt-lines {
        height: 5px;
        background: rgba(100, 100, 100, 1);
        transform-origin: 5px 3px;
        -ms-transform-origin: 5px 3px;
        /* IE 9 */
        -webkit-transform-origin: 5px 3px;
    }
    .patt-circ.hovered {
        border: 0px solid #0192ff;
    }
    .patt-circ.hovered > .patt-dots {
        background: rgba(50, 50, 50, 1);
        margin-top: -10px;
        margin-left: -7px;
        margin-bottom: 15px;
        margin-right: 5px;
        width: 15px;
        height: 15px;
        border-radius: 10px;
    }
    .patt-error .patt-circ.hovered {
        border: 0px solid #BA1B26;
    }
    .patt-error .patt-circ.hovered > .patt-dots {
        background: #BA1B26;
    }
    .patt-error > .patt-lines {
        background: #BA1B26;
    }
    .patt-correct .patt-circ.hovered {
        border: 0px solid #33d900;
    }
    .patt-correct .patt-circ.hovered > .patt-dots {
        background: #33d900;
    }
    .patt-correct > .patt-lines {
        background: #33d900;
    }
    #patternContainer .patt-circ.hovered > .patt-dots {
        background: #337ab7;
        background-size: 15px 15px;
        background-position: 50% 43%;
        background-repeat: no-repeat;
    }
    #patternContainer .patt-circ.hovered.e > .patt-dots {
        background-image: url('../images/icon-arrow.png');
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    #patternContainer .patt-circ.hovered.s-e > .patt-dots {
        background-image: url('../images/icon-arrow.png');
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #patternContainer .patt-circ.hovered.s > .patt-dots {
        background-image: url('../images/icon-arrow.png');
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    #patternContainer .patt-circ.hovered.s-w > .patt-dots {
        background-image: url('../images/icon-arrow.png');
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    #patternContainer .patt-circ.hovered.w > .patt-dots {
        background-image: url('../images/icon-arrow.png');
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    #patternContainer .patt-circ.hovered.n-w > .patt-dots {
        background-image: url('../images/icon-arrow.png');
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    #patternContainer .patt-circ.hovered.n > .patt-dots {
        background-image: url('../images/icon-arrow.png');
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    #patternContainer .patt-circ.hovered.n-e > .patt-dots {
        background-image: url('../images/icon-arrow.png');
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    #patternContainer .patt-lines {
        background: #337ab7;
    }
    .patt-lines {
        height: 5px;
        background: rgba(100, 100, 100, 1);
        transform-origin: 5px 3px;
        -ms-transform-origin: 5px 3px;
        /* IE 9 */
        -webkit-transform-origin: 5px 3px;
    }
}
