<!DOCTYPE html>
<html>

<head>
    <title>Login/Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="/vendor/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="import" href="/polymerTags/index-auth.html">
    <style>
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }
        
        /* Modal Content/Box */
        /* The Close Button */
        
        .close {
            color: white;
            position: absolute;
            margin-left: 95%;
            margin-top: 5px;
            z-index: 1;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: #0085d5;
            text-decoration: none;
            cursor: pointer;
        }
        .main-btn{
            float:right;
        }

    </style>
</head>

<body>
    <button class="main-btn" id="authBtn">Press me !</button>
    <div id="myAuth" class="modal">
        <div class="main"><span class="close">x</span>
            <index-auth></index-auth>
        </div>
    </div>
</body>
<script>
    var modal = document.getElementById('myAuth');

    // Get the button that opens the modal
    var btn = document.getElementById("authBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>

</html>
