<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="/vendor/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="usersClass">
        <h2>Welcome to the Users Section!</h2>
        <div class="userDataClass">
            <h4>Logged in as: <%=user.username%></h4>
            <h4>PasswordHash: <%=user.passwordHash%></h4>
            <h4>PatternHash: <%=user.patternHash%></h4>
        </div>

        <button class="btn btn-lg btn-primary btn-block btn-logout" onclick="logout()">Logout</button>
        <script>
        logout = function(){
            $.get('/logout').success(function () {
                console.log("Logout successful");
                window.location.href = '/';
            }).error(function () {
                console.log("Logout failed");
            });
        }
        </script>
    </div>
</body>

</html>
