<link rel="import" href="/vendor/polymer/polymer.html">
<link rel="stylesheet" href="/css/styles.css">
<script src="../../js/pattern.js"></script>
<script src="../../vendor/jquery/dist/jquery.js"></script>



<dom-module id="register-pattern">
    <style>
        .header {
            padding-top: 30px;
            font-family: sans-serif;
            font-size: 20px;
            margin-left: 15px;
        }
        .pattern {
	       margin-left: -15px;
}
        
        .content {
            padding: 15px;
            border: 1px solid #dedede;
        }
        
        .heading {
            padding: 10px 15px;
            margin-top: 30px;
            background-color: #f3f3f3;
            border: 1px solid #dedede;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            width: 100%;
            text-align: left;
        }

    </style>
    <template>
        <div class="header">Set Pattern</div>
        <div id="registerPattern" class="pattern"></div>
    </template>
    <script>
        Polymer({

                is: "register-pattern",

                properties: {
                    header: {
                        type: String,
                        value: "Pattern:"
                    }
                }
            })

        

    </script>
</dom-module>
