<link rel="import" href="/vendor/polymer/polymer.html">
<link rel="import" href="../loginTags/login-username.html">
<link rel="import" href="../loginTags/login-password.html">
<link rel="import" href="register-pattern.html">
<link rel="import" href="/vendor/paper-button/paper-button.html">
<link rel="import" href="../../vendor/iron-ajax/iron-ajax.html">
<link rel="import" href="../../vendor/iron-ajax/iron-request.html">
<dom-module id="register-main">
    <style>
        paper-button.fancy {
            background: #0085d5;
            color: white;
            width: 97%;
            font-family: sans-serif;
            margin-top: -15px;
            margin-left: 10px;
        }

    </style>
    <template>
        <form>
            <login-username regex="^[a-zA-Z0-9_-]{5,15}$" regexerror="Username has to be 5-15 character long!" label="Username" input="id-register-username" header="Register an Account"></login-username>
            <login-password regex="^.{5,}$" regexerror="Password must be atleast 5 characters long!" inputpw="id-reg-pw" nobutton="true" noPanel="true" header="Select Password"></login-password>
            <login-password regex="^.{5,}$" regexerror="Password must be atleast 5 characters long!" inputpw="id-reg-pw-confirm" nobutton="true" noPanel="true" header="Confirm Password"></login-password>
            <register-pattern></register-pattern>
            <paper-button on-click="_registerAcc" type="submit" class="fancy">Register!</paper-button>
        </form>
        <iron-ajax id="ajaxreg" url="http://localhost:3000/register" params="" handle-as="json" method="POST" on-response="_response" on-error="_error" contentType="application/json"></iron-ajax>
    </template>
    <script>
        _checkValid = function() {
                console.log("checking...");
                var username= document.getElementById("id-register-username");
            var pw = document.getElementById("id-reg-pw");
            var pwConfirm = document.getElementById("id-reg-pw-confirm")
                if ((username.validate() == true && username.value != "") && (pw.validate() == true && pw.value != "")) {
                    return true;
                } else {
                    return false;
                }
            },

            Polymer({
                is: "register-main",

                properties: {
                    reglock: {
                        type: Object,
                        value: ""
                    }
                },
                _getLock: function(lock) {
                    reglock = lock;
                },
                _response: function(data) {
                    console.log("response!");
                    if (data.detail.xhr.response.taken === true) {
                        window.alert("Username already taken");
                    } else {
                        window.alert("Registration successfull!");
                    }
                },
                _error: function() {
                    window.alert("error!");
                },

                _registerAcc: function() {

                    if(_checkValid()==true){

                    var username = document.getElementById("id-register-username").value;
                    if (document.getElementById("id-reg-pw").value != document.getElementById("id-reg-pw-confirm").value || reglock.getPattern().length < 3 || reglock.getPattern() === false) {
                        window.alert("Passwords dont match or the Pattern is shorter then 3");
                    } else {
                        //Code to register HERE!

                        var password = document.getElementById("id-reg-pw").value;
                        var pattern = reglock.getPattern();
                        newUser = {
                            username: username,

                            password: password,
                            pattern: pattern
                        };
                        this.$.ajaxreg.params = newUser;
                        this.$.ajaxreg.generateRequest();
                    }
                    }
                    else{
                        window.alert("the information provided is not valid")
                    }
                },

            });

    </script>
</dom-module>
