<link rel="import" href="/vendor/polymer/polymer.html">
<script src="/vendor/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="stylesheet" href="/css/styles.css">

<!-- WEB COMPONENTS / POLYMER -->
<link rel="import" href="/polymerTags/steffen-paper-tabs.html">
<link rel="import" href="/polymerTags/steffen-paper-tabs-content.html">
<link rel="import" href="/polymerTags/loginTags/login-main.html">
<link rel="import" href="/polymerTags/registerTags/register-main.html">
<dom-module id="index-auth">
    <template>
        <paper-tabs-content>
            <login-main class="loginView">
            </login-main>

            <register-main class="registerView"></register-main>
        </paper-tabs-content>
    </template>

    <script>
        window.onload = function() {
            var lock1 = new PatternLock("#loginPattern", {
                onDraw: function(patternCode) {
                    document.getElementsByTagName("login-pattern").item(0)._onLoginDraw(patternCode, lock1);
                }
            });

            var lock2 = new PatternLock("#registerPattern");
            document.getElementsByTagName("register-main").item(0)._getLock(lock2);

        }
        Polymer({
            is: "index-auth",
            properties: {}
        });

    </script>
</dom-module>
