<link rel="import" href="/vendor/polymer/polymer.html">
<link rel="import" href="../../vendor/paper-input/paper-input.html">
<link rel="import" href="../../vendor/paper-button/paper-button.html">
<link rel="import" href="/vendor/iron-collapse/iron-collapse.html">

<dom-module id="steffen-panel">
    <style>
        .content {
            padding: 15px;
        }
        
        .heading {
            padding: 10px 15px;
            margin-top: 20px;
            background-color: #f5f5f5;
            border: 0px solid #dedede;
            border-bottom: 1px solid #dedede;
            font-size: 18px;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            width: 100%;
            text-align: left;
        }
        .steffen-panel:focus{
            outline-width: 0px;
        }
        .heading:focus {
            outline-width: 0;
        }

    </style>
    <template>
        <button id="id-panel-button" class="heading" onclick="toggle()">{{panelheader}}</button>
        <iron-collapse tabindex="{{panelID}}">
            <div class="content">
                <content select=".panelContent"></content>
            </div>
        </iron-collapse>
    </template>
    <script>
        Polymer({
            is: "steffen-panel",
            properties: {
                panelheader: {
                    type: String,
                    value: "titel"
                },
            }
        });

        function toggle() {
            if (document.activeElement.innerHTML == "Login with Password") {
                event.currentTarget.parentElement.querySelector('iron-collapse').toggle();
                document.getElementById("id-panel2").children.item(1).opened = false;

            } else if (document.activeElement.innerHTML == "Login with Pattern") {
                event.currentTarget.parentElement.querySelector('iron-collapse').toggle();
                document.getElementById("id-panel1").children.item(1).opened = false;


            }
        };

    </script>
</dom-module>
