<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../polymerTags/steffen-paper-tabs.html">
<link rel="import" href="../polymerTags/steffen-paper-tab.html">
<link rel="import" href="../polymerTags/steffen-iron-pages.html">




<dom-module is="paper-tabs-content">
    <template>
        <style>
            iron-pages {
                border-top: none;
                padding: 8px;
            }
            .tabContent {
	       font-family: sans-serif;
}

        </style>
        <paper-tabs id="id-tabs" selected="{{selected}}">
            <paper-tab id="tab1" class="tabContent">Login</paper-tab>
            <paper-tab id="tab2" class="tabContent">Register</paper-tab>
        </paper-tabs>
        <iron-pages selected="{{selected}}">
            <div>
                <content select=".loginView">
                </content>
            </div>
            <div>
                <content select=".registerView"></content>
            </div>
        </iron-pages>
    </template>
    <script>
        Polymer({
            is: 'paper-tabs-content',
            properties: {
                selected: {
                    type: Number,
                    value: 0
                }
            }
        });

    </script>
</dom-module>
