<link rel="import" href="../../vendor/polymer/polymer.html">
<script src="/vendor/jquery/dist/jquery.js"></script>

<script src="/vendor/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="login-username.html">
<link rel="import" href="login-password.html">
<link rel="import" href="login-pattern.html">
<link rel="import" href="../steffen-panel.html">
<dom-module id="login-main">
    <style>


    </style>
    <template>

        <login-username label="Username" input="id-login-username"></login-username>
        <steffen-panel id="id-panel1" panelheader="Login with Password">
            <login-password inputpw="id-login-password" class="panelContent"></login-password>
        </steffen-panel>
        <steffen-panel id="id-panel2" panelheader="Login with Pattern">
            <login-pattern class="panelContent">
                <login-pattern></login-pattern>
            </login-pattern>
    </template>
    <script>
        Polymer({
            is: "login-main",
        });

    </script>
</dom-module>
