<link rel="import" href="/vendor/polymer/polymer.html">
<link rel="import" href="../../vendor/paper-input/paper-input.html">
<link rel="import" href="../../vendor/paper-input/paper-input-container.html">

<dom-module id="login-username">
    <style>
        .input-overwrite {
            padding-top: 20px;
            padding-left: 15px;
        }
        
        .inputHeader {
            font-family: sans-serif;
            font-size: 20px;
        }

    </style>
    <template>
        <div id="id-form-username" class="input-overwrite">{{inputID}}
            <div>
                <div class="inputHeader">{{header}}</div>
                <paper-input auto-validate pattern="{{regex}}" error-message="{{regexerror}}" id="{{input}}" label="{{label}}" on-keyup="_toggleDisables"></paper-input>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "login-username",
            properties: {
                header: {
                    type: String,
                    value: "Enter your Username"
                },
                regex: {
                    type: String,
                    value: ".*?"
                },
                regexerror: {
                    type: String,
                    value: ""
                },

                input: {
                    type: String,
                    value: "test"
                },
                label: {
                    type: String,
                    value: "Username"
                },
            },
            _toggleDisables: function() {
                if (document.getElementById("id-login-username").value === "" || document.getElementById("id-login-password").value === "") {
                    document.getElementById("id-login-btn").disabled = true;
                    document.getElementById("id-login-btn").classList.add("disable");
                } else {
                    document.getElementById("id-login-btn").disabled = false;
                    document.getElementById("id-login-btn").classList.remove("disable");
                }

                //Pattern

            },
        });

    </script>
</dom-module>
