<link rel="import" href="/vendor/polymer/polymer.html">
<link rel="stylesheet" href="/css/styles.css">
<script src="../../js/pattern.js"></script>
<script src="../../vendor/jquery/dist/jquery.js"></script>
<link rel="import" href="../../vendor/iron-ajax/iron-ajax.html">
<link rel="import" href="../../vendor/iron-ajax/iron-request.html">



<dom-module id="login-pattern">
    <style>
        .header {
            padding-top: 50px;
            font-family: sans-serif;
            font-size: 18px;
        }
        
        .content {
            padding: 15px;
            border: 1px solid #dedede;
        }
        
        .heading {
            padding: 10px 15px;
            margin-top: 20px;
            background-color: #f3f3f3;
            border: 1px solid #dedede;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            width: 100%;
            text-align: left;
        }

    </style>
    <template>
        <iron-ajax id="ajax" url="http://localhost:3000/loginPattern" params="" handle-as="json" method="POST" on-response="_response" on-error="_error" contentType="application/json"></iron-ajax>
        <div id="loginPattern" class="pattern"></div>
    </template>
    <script>
        Polymer({

            is: "login-pattern",

            properties: {
                header: {
                    type: String,
                    value: "Pattern:"
                },
                loginLock: {
                    type: Object,
                    value: ""
                }
            },
            _response: function(data) {
                if (data.detail.xhr.response.valid === true) {
                    console.log("user valid");
                    loginLock.correct();
                    setTimeout(function() {
                        loginLock.reset();
                    }, 500);
                    window.location.href = '/users';

                }
            },
            _error: function() {
                console.log("wrong Login");
                loginLock.error();
                setTimeout(function() {
                    loginLock.reset();
                }, 500);
            },
            _onLoginDraw: function(patternCode, lock1) {
                
                var username = document.getElementById("id-login-username").value;
                var password = patternCode;
                var loginUser = {
                    'username': username,
                    'password': password // Named password so it is recognized by passport
                };
                
                this.$.ajax.params = loginUser;
                this.$.ajax.generateRequest(username, password);
                console.log("sending...");
                loginLock = lock1;
            }
        });
        //Pattern

    </script>
</dom-module>
