<link rel="import" href="/vendor/polymer/polymer.html">
<link rel="import" href="../../vendor/paper-input/paper-input.html">
<link rel="import" href="../../vendor/paper-button/paper-button.html">
<link rel="import" href="../../vendor/iron-ajax/iron-ajax.html">
<link rel="import" href="../../vendor/iron-ajax/iron-request.html">
<dom-module id="login-password">
    <style>
        paper-button.fancy {
            background: #0085d5;
            color: white;
            width: 30%;
            font-family: sans-serif;
            margin-left: 0px;
            margin-top: 20px;
        }
        
        #id-form-password {
            margin-top: -10px;
        }
        
        .nopanel {
            margin-left: 15px;
        }
        
        .disable {
            opacity: 0.5;
        }

    </style>
    <template>
        <iron-ajax id="ajax" url="http://localhost:3000/loginPattern" params="" handle-as="json" method="POST" on-response="_response" on-error="_error" contentType="application/json"></iron-ajax>
        <div id="id-form-password">
            <div class="{{_noPanel(nopanel)}}">
                <paper-input auto-validate pattern={{regex}} error-message="{{regexerror}}" id="{{inputpw}}" class="input-overwrite" label="{{header}}" type="password" on-keyup="_toggleButton"></paper-input>
                <div hidden$="{{_hideButton(nobutton)}}">
                    <paper-button disabled="true" id="id-login-btn" on-click="_buttonClick" class="fancy disable" raised>{{submit}}</button>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "login-password",
            properties: {
                header: {
                    type: String,
                    value: "Enter Password"
                },
                regex: {
                    type: String,
                    value: ".*?"
                },
                regexerror: {
                    type: String,
                    value: ""
                },
                inputpw: {
                    type: String,
                    value: ""
                },
                submit: {
                    type: String,
                    value: "Log-in!"
                },
                nobutton: {
                    type: Boolean,
                    value: false
                },
                nopanel: {
                    type: Boolean,
                    value: false
                }
            },
            _buttonClick: function() {
                var username = document.getElementById("id-login-username").value;
                var password = document.getElementById("id-login-password").value;
                var loginUser = {
                    'username': username,
                    'password': password
                };
                this.$.ajax.params = loginUser;
                this.$.ajax.generateRequest(username, password);
            },
            _response: function(data) {
                if (data.detail.xhr.response.valid === true) {
                    console.log("user valid");
                    window.location.href = '/users';
                }
            },
            _error: function() {
                window.alert("Invalid Credentials");
            },
            _hideButton: function() {
                return this.nobutton;
            },
            _toggleButton: function() {
                if (document.getElementById("id-login-username").value === "" || document.getElementById("id-login-password").value === "") {
                    document.getElementById("id-login-btn").disabled = true;
                    document.getElementById("id-login-btn").classList.add("disable");
                } else {
                    document.getElementById("id-login-btn").disabled = false;
                    document.getElementById("id-login-btn").classList.remove("disable");
                    if (event.keyCode == 13) {
                        document.getElementById("id-login-btn").click();
                    }
                }
            },
            _noPanel: function() {
                if (this.nopanel == true) {
                    //document.activeElement.className+= " nopanel";
                    this.children.item(1).classList.add("nopanel");
                }
            }
        });

    </script>
</dom-module>
